{% extends "base.html" %}
{% block title %}Admin Login{% endblock title %}
{% block head %}

  <style>
    button:hover {
        transform: scale(1.05);
        background-color: #c70000;
    }
    
  </style>

{% endblock %}

{% block body %}
<body style="background-image: url(/static/1010.jpg); background-size: cover; font-family: Verdana, Geneva, Tahoma, sans-serif;">

  <div class="container py-5 h-100" >
    <div class="row justify-content-center align-items-center h-100 ">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color: peru;">
          <div class="card-body p-4 p-md-5">
            <h1 class="text-center">Admin Login</h1>

            <div style="text-align: center; ">
              <form action="/admin_login" method="post">
                {% csrf_token %}

                <br><br><br>
                <label for="admin_user">Username</label>
                <input type="text" id="admin_user" name="admin_user" placeholder="Enter username" required>
                <br><br>

                <label for="admin_pass">Password</label>
                <input type="password" id="admin_pass" name="admin_pass" placeholder="Enter password" required>
                <br><br>

                <button type="submit" style="background-color: red; color: white;">Sign in</button>
                <br><br>
              </form>

              <div style="background-color: red;">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                    <strong style="color: black;">{{ message }}</strong> 
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock body %}
