{% extends 'admin_base.html' %}
{% block title %}Admin Home{% endblock %}
{% block head %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background: #f5f5f5;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .main {
        display: flex;
       
        justify-content: center;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin: 20px auto;
        margin-left: 150px auto;
    }
    .disease_details {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        width: 100%;
        margin: 20px auto;
        margin-left: 150px auto;
    }
    .card {
        width: 55%;
        background: #fff;
        text-align: center;
        border-radius: 50px;
        padding: 50px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        margin: 10px;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        display: flex;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card h2 {
        margin: 10px;
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    .card p {
        font-size: 14px;
        color: #555;
    }

    .card a {
        color: #333;
        text-decoration: none;
    }

    .card button {
        background: peru;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 15px;
    }

    .card button:hover {
        background: red;
        transform: scale(1.02);
    }

    .disease-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        width: 80%;
        margin: 10px auto;
    }

    .disease-card {
        width: 500px;
        margin: 20px auto;
        margin-left: 150px auto;
        background: #fff;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }

    .disease {
        padding: 20px;
        border-radius: 10px;

        margin: 20px auto;
        margin-left: 500px auto;

        background: peru;
    }
</style>
{% endblock %}

{% block content %}

    <section class="main">
        
        <div class="card">
            <h2>View Doctors</h2>
            <p>View information about other doctors.</p>
            <a href="/doctor_list"><button>View Doctors</button></a>
        </div>

        <div class="card">
            <h2>View Patients</h2>
            <p>View information about your patients.</p>
            <a href="/patient_list"><button>View Patients</button></a>
        </div>
    </section>
{% endblock %}
